<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="page-container"> 
        <div id="header-2-template">
            <header > 
                <img src="images/logo_2.png" alt="Logo">
                <h1>Cozy Cafe</h1>
            </header> 
            <nav >
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Contact</li>
                </ul> 
            </nav> 
        </div>
        <div class="hero">
            <video autoplay muted loop playsinline class="hero-video">
              <source src="images/13691605_3840_2160_30fps.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <div class="hero-content">
            <h1>Welcome to Cozy Cafe</h1>
            <p>Experience the best time of your life.</p>
            <p id="menu_button"><a href="">Menu</a></p>
            </div>
        </div>
        <div class="main-container"> 
            <!-- main page content goes here --> 
        </div> 
        <footer> 
            <p>2026 Your Company. All rights reserved.</p>
        </footer> 
    </div>
    
</body>
</html>