<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="page-container"> 
        <div id="">
            <header > 
                <img src="images/logo_2.png" alt="Logo">
                <h1>Riverstone</h1>
            </header> 
            <nav >
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Contact</li>
                </ul> 
            </nav> 
        </div>
        <div class="main-container"> 
            <!-- main page content goes here --> 
        </div> 
        <footer> 
            <p>2026 Your Company. All rights reserved.</p>
        </footer> 
    </div>
    
</body>
</html>