.page-container {
    width: 1400px;
    background-color: #f0f0f0;
    margin: auto;
}
header img {
    width: 100px;
    height: 100px;
}
nav {
    display: flex;
    justify-content: flex-start;
}
nav li {
    list-style: none;
    padding: 10px;
    color: white;
}
header {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 15px;
}
header h1 {
    color: white;
}
nav ul {
    display: flex;
    gap: 15px;
}
nav li:hover {
    background-color: grey;
    cursor: pointer;
}
.main-container{
    height: 700px;
    background-color: #F5E8C7;
}
.hero {
  position: relative;
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100px;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.hero-content {
  text-align: center;
  justify-content: center;
  color: white;
  z-index: 1; 
}
#header-2-template{
    background-color: #4B2E1E
}
#menu_button{
    padding: 15px;
    background-color: #7A8450;
}
footer{
    background-color: #4B2E1E ;
}
footer p{
    color: white;
}