.page-container {
    width: 1400px;
    background-color: #f0f0f0;
    margin: auto;
}
header img {
    width: 100px;
    height: 100px;
}
nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 15px;
}
nav li {
    list-style: none;
    padding: 10px;
    color: white;
}
header {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 15px;
}
header h1 {
    color: white;
}
#template-1-header {
    background-color: black;
    display: flex;
    align-items: center;
    gap: 15px;
}
nav ul {
    display: flex;
    gap: 15px;
}
nav li:hover {
    background-color: grey;
    cursor: pointer;
}
.main-container{
    height: 700px;
    background-color: seashell;
}