.page-container {
    width: 1400px;
    margin: auto;
    background-color: #F5E8C7;
}
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    list-style: none;
    height: 20px;
    color: white;
    margin-right: 30px;
    font-size: 25px;
}
header {
    display: flex;
    align-items: center;
}
header h1{
    color: white;
}
nav ul {
    display: flex;
    gap: 15px;
}
nav li:hover {
    background-color: grey;
    cursor: pointer;
}
.main-container{
    height: 700px;
}
.hero {
  position: relative;
  height: 1000px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('Images/Copilot_20260526_114837.png');
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.hero-content {
  text-align: center;
  justify-content: center;
  color: white;
  z-index: 1; 
}

#menu_button{
    margin: 0px;
    background-color: gray;
}
footer{
    background-color: #4B2E1E ;
}
footer p{
    color: white;
}
#menu_button a{
    text-decoration: none;
    color: white;
}
#menu_button a:hover{
    cursor: pointer;
}
.hero-content h1{
    font-size: 60px;
    margin-bottom: 0px;
}
.hero-content p{
    font-size: 30px;
    margin-top: 10px;
}
#top-header{
    display: flex;
    align-items: flex-start;
    align-items: center;
}
.logo_img{
    width: 250px;
    height: 100px;
}